@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(26, 1, 49);
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    transform: .3s;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a.active {
    color: rgb(144, 144, 217);
}
#element {
    color: rgb(144, 144, 217);
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    }

.home-content {
    max-width:600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: rgb(144, 144, 217);
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: rgb(144, 144, 217);
    border: 2px solid rgb(144, 144, 217);
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: rgb(144, 144, 217);
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: rgb(144, 144, 217);
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: rgb(144, 144, 217);
}


.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(144, 144, 217);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(144, 144, 217);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover{
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(144, 144, 217);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

/*---------about me  section----------*/

#about-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 12%;
}
.about-img {
    border-radius:200%;
}
.about-left img{
    width: 420px;
    height: auto;
    transform: translateY(50px);
}
.about-right {
    width: 54%;
}

.about-right ul li {
    display: flex;
    align-items: center;
}

.about-right h1 {
    color: rgb(144, 144, 217);
    font-size: 37px;
    margin-bottom: 5px;
}

.about-right p {
    color: #ededed;
    line-height: 26px;
    font-size: 15px;
}

.about-right .address {
    margin: 25px 0;
}

.about-right .address ul li {
    margin-bottom: 5px;
}

.address .address-logo {
    margin-right: 15px;
    color: rgb(144, 144, 217);
}

.address .saprater {
    margin: 0 35px;
}


button{
    background: rgb(144, 144, 217);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover
{
    background: transparent;
    border: 2px solid rgb(144, 144, 217);
}

/*---------my  skills  section----------*/

.skills_section{
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}  
.skills_head{
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    text-align: center;
}
.skills_head h2{
    font-size: 40px;
    margin-bottom: -5px;
}
.skills_head h2 span{
    color: rgb(144, 144, 217);
}
.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background:#353b48;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: relative;
    transition: all 0.3s cubic-bezier(.25,.8,.25, 1);

}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: rgb(144, 144, 217);
    border-radius: 25px;
}
.skill_bar .bar .cpp{
    width: 80%;
    animation: cpp 2s;
}
@keyframes cpp {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.skill_bar .bar .html{
    width: 90%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.skill_bar .bar .css{
    width: 85%;
    animation: css 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .python{
    width: 80%;
    animation: python 2s;
}
@keyframes python {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .sql{
    width: 70%;
    animation: sql 2s;
}
@keyframes sql {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar bootStrap{
    width: 85%;
    animation: bootStrap 2s;
}
@keyframes bootStrap {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .c{
    width: 85%;
    animation: c 2s;
}
@keyframes c {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .ds{
    width: 70%;
    animation: ds 2s;
}
@keyframes ds {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
/*projects*/
.black_box {
    background-color: rgb(25, 1, 48);
    padding: 20px;
  }
  .black_box h2 {
    font-size: 72px;
    color: #ededed;
    text-align: center;
    font-weight: 300;
  }
  
  .black_box h2 span {
    font-weight: 300;
    font-size: 72px;
    color: rgb(144, 144, 217);
    text-align: center;
  }
  .work {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  
    max-width: 1100px;
    margin: 50px auto;
  }
  .grid_item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    max-width: 320px;
    justify-content: center;
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
    transition: 0.2s ease-in-out;
    background: rgb(144, 144, 217);
  }
  .card:hover {
    transform: scale(1.04);
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
    transition: 0.2s ease-in-out;
    color: #ededed;
  }
  .card_content {
    padding: 20px;
  }
  .card  h2 {
    margin-left: 20px;
    color: #ededed;    
  }
  .card_content h3 {
    margin-bottom: 10px;
    color: black;
  }

/*---------contact me  section----------*/

.container{
    min-height: 100vh;
    background: #08071d;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("bg.png") no-repeat center center/cover;
}

.container form{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.container form h1{
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.container form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
}

.container form input::placeholder{
    color: #ddd;
}

.container form #lastName,
.container form #mobile{
    margin-left: 20px;
}

.container form h4{
    color: #fff;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}

textarea::-webkit-scrollbar{
    width: 1em;
}

textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194,194,194,0.713);
}

.container form #button{
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.container form #button:hover{
    opacity: 0.7;
}
/*footer*/
footer {
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(23, 1, 43);
    padding: 20px;
    color: white;
  }